.tarefaContainer {
  color: #000000;
  background: rgba(221, 221, 221, 0.8);

  display: flex;
  flex-direction: row;

  font-size: 1rem;
  font-family: "Raleway";
  font-weight: 500;

  padding: 0.5rem;
  margin: 0.8rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative;

  width: 85vw;
}

.tarefaContainer > div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 590px) {
    .data {
        right: 15rem;
        position: absolute;
    }
}

@media (max-width: 590px) {
  .data{
      display: flex;
      flex-direction: column;
  }
}



.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
  transition: all 0.3s linear;
  transition-delay: 0.15s;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
  transition: all 0.2s linear;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #4285f4;
}

.cbx {
  display: none;
}

.cbx:checked + .check svg {
  stroke: #4285f4;
}
.cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition-delay: 0s;
}
.cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition-delay: 0.15s;
}
