*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    background: linear-gradient(105deg, aqua, whitesmoke, whitesmoke);
}

@media (max-width: 680px) {
    html{
        font-size: 87.5%;
    }
}

